/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $color-white;
	font-size: rem(16);
	line-height: 1;
	padding: 40px 0;
	text-align: center;

	p {
		margin-bottom: 0;
	}
}