/* ## Titles
--------------------------------------------- */

.archive-title {
	font-size: 20px;
	font-size: 2rem;
}

.entry-title {
	font-size: 36px;
	font-size: 3.6rem;

	a {
		color: $color-mine-shaft;

		&:hover,
		&:focus {
			color: $color-thunderbird;
		}
	}
}

.sidebar .widget-title a {
	color: $color-mine-shaft;
}

.widget-title {
	font-size: 18px;
	font-size: 1.8rem;
	margin-bottom: 20px;
}

.footer-widgets .widget-title {
	color: $color-white;
}